<!-- password field should be blank.
we can add profile link and pictures as well -->
<h3> Petition </h3>
<img src ="/smoke.jpg" width= "200px" height = "100px">
<h4> please check and update your profile information.</h4>
{{#if error}}
<div class name="error">SORRY! It seems like you did not enter your first and last name. Please let us know who you are.</div>
{{/if}}

<form method="post">
<div> First Name
<input name = "first" placeholder="FirstName"value={{firstName}}>
</div>
<div> Last Name
<input name = "last" placeholder="LastName" value={{lastName}}>
</div>
<div> Email Address
<input name = "email" placeholder="Email Address" value={{email}}>
</div>
<div> Password
<input name = "password" placeholder="Password">
</div>
<div> AGE
<input name="age" placeholder="Age"value={{age}}>
</div>
<div> City
<input name="city" placeholder="City" value={{city}}>
</div>
<div> Homepage
<input name="url" placeholder="Homepage" value={{url}}>
</div>
<button> Update </button>
<input name ="_csrf" type="hidden" value="{{csrfToken}}">
</form>
